
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h3>Selected Product : @TempData["ProductName"].ToString()</h3>
<h3>Quantity Purchased: @ViewData["QuantityPurchased"].ToString()</h3>
