@model QuickKart.Models.PurchaseDetails

@{
    ViewData["Title"] = "PurchaseProduct";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Purchase Product</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SavePurchase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <label asp-for="PurchaseId" class="control-label"></label>
                <input asp-for="PurchaseId" class="form-control" />
                <span asp-validation-for="PurchaseId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" disabled />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityPurchased" class="control-label"></label>
                <input asp-for="QuantityPurchased" class="form-control" />
                <span asp-validation-for="QuantityPurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" disabled />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Purchase" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Product" asp-action="GetProductForCategory">Back to List</a>

</div>